*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
/*
html {
    scroll-behavior: smooth;
}
*/
:root {
    --bg-color-one: #F2F2F2;
    --bg-color-two: #1C1D25;
    --text-grey-20: #494A51;
    --text-grey-52: #747474;
    --text-grey-60: #A4A5A8;
    --text-grey-70: #BABBBD;
    --text-white: #ffffff;
    --text-black: #000000;
    --menu-color: #747474;
}
  

.fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    background-color: var(--bg-color-two);
}




.flex {
    display: flex;
}
.flex-inline {
    display: inline-flex;
}
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}


.language {
    position: absolute;
    top: 20px;
    right: 30px;
}

.main-text {
    color: var(--bg-color-one);
    padding: 1vh 10vw;
    margin: auto;
    font-size: 1rem;
}

.btn {
    border: none;
    background-color: var(--bg-color-two);
    color: var(--text-grey-52);
}
.btn:hover {
    color: var(--text-grey-20);
}
.selected {
    color: var(--bg-color-one);
}

.title1{
    font-size: 3rem;
    color: var(--text-grey-70);
    padding-top: 5vh;
}

.preview-img {
    display: flex;
    width: 60vw;
    margin: auto;
    padding-top: 5vh;
}

.pro3-img {
    width: 80vw;
}

.linker {
    text-decoration: none;
    color: var(--bg-color-one);
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 35px;
    margin: 1rem 1rem;
}

.linker-portfolio {
    margin: 1rem 1rem;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 35px;
    margin: 1rem 1rem;
}


.grid-center {
    display: grid;
    justify-content: center;
}

.button-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

    
.div-4-1 {
    grid-area: 1 / 1 / 2 / 2; 
}
.div-4-2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.div-4-3 { 
    grid-area: 1 / 3 / 2 / 4; 
}
.div-4-4 { 
    grid-area: 1 / 4 / 2 / 5; 
}


.home {
    position: absolute;
    top: 20px;
    left: 30px;
}

.home > img {
    height: 1.3rem;
}

@media only screen and (max-width: 600px) {
    html, body, #app{
      font-size: 13px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    html, body, #app{
      font-size: 14px;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html, body, #app{
      font-size: 16px;
    }
}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html, body, #app{
      font-size: 20px;
    }
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html, body, #app{
      font-size: 26px;
    }
}