*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}


:root {
    --bg-color-one: #F2F2F2;
    --bg-color-two: #1C1D25;
    --text-grey-20: #494A51;
    --text-grey-52: #747474;
    --text-grey-60: #A4A5A8;
    --text-grey-70: #BABBBD;
    --text-white: #ffffff;
    --text-black: #000000;
    --menu-color: #747474;
}
  
body {
    background-color: #F2F2F2;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start {
    font-size: 3rem;
    color: #1C1D25;
}

.shadow-text {
    font-size: 14rem;
    -webkit-text-stroke: 1px #c4c4c4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: #1C1D25;
    color: #1C1D25;
    text-shadow: 0px 0px 0 #373737,
                1px 1px 0 #373737,
                2px 2px 0 #373737,
                3px 3px 0 #373737,
                4px 4px 0 #373737,
                5px 5px 0 #373737,
                6px 6px 0 #373737,
                7px 7px 0 #373737,
                8px 8px  0 #373737,
                9px 9px  0 white,
                9px 9px 8px rgba(0,0,0,0.44),
                9px 9px 1px rgba(0,0,0,0.5),
                0px 0px 8px rgba(0,0,0,.2);
}


@media only screen and (max-width: 600px) {
    html, body, #app{
      font-size: 13px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    html, body, #app{
      font-size: 14px;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html, body, #app{
      font-size: 16px;
    }
}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html, body, #app{
      font-size: 20px;
    }
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html, body, #app{
      font-size: 26px;
    }
}