*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}

/*
html,body {
    overflow: auto;
}*/


:root {
    --bg-color-one: #F2F2F2;
    --bg-color-two: #1C1D25;
    --text-grey-20: #494A51;
    --text-grey-52: #747474;
    --text-grey-60: #A4A5A8;
    --text-grey-70: #BABBBD;
    --text-white: #ffffff;
    --text-black: #000000;
}
  

h3 {
    color: var(--text-grey-52); 
}


.scroll-setter {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-setter section {
    scroll-snap-align: start;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}


.title1{
    font-size: 4.375rem;
}

.title2{
    font-size: 2.2rem;
}

.title3{
    font-size: 5.3333rem;
    color: var(--text-white);
    padding-top: 5vh;
}
.title4{
    font-size: 2rem;
    color: var(--text-grey-70);
}

.title4 > h2{
    padding: 1rem 2rem 0;
}

.language {
    position: absolute;
    top: 20px;
    right: 30px;
}

.scroll-btn {
    position: absolute;
    bottom: 20px;
    left: 5px;
    transform: rotate(90deg);
}

.btn {
    border: none;
    background-color: var(--bg-color-one);
    color: var(--text-grey-52);
}

.entry-screen {
    position: relative;
    background-color: var(--bg-color-one);
}

.content-screen {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background-color: var(--bg-color-two);
}

.art {
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 30vw;
}

@media screen and (max-width: 1200px) {
    .art {
        padding-top: 10vh;
        width: 50vw;
    }
    .title1{
        font-size: 3rem;
    }
    
    .title2{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .art {
        padding-top: 10vh;
        width: 70vw;
    }
}

.fade-one {
    animation: entryfade 1.5s;
    -moz-animation: entryfade 1.5s;
    -o-animation: entryfade 1.5s;
    -webkit-animation: entryfade 1.5s;
}

@keyframes entryfade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes entryfade { /* Firefox */
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes entryfade { /* Chrome safari  */
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes entryfade { /* Opera */
    from {pacity: 0;}
    to {opacity: 1;}
}

.fade-two {
    animation: entryfadedelay 1.5s;
    -moz-animation: entryfadedelay 1.5s;
    -o-animation: entryfadedelay 1.5s;
    -webkit-animation: entryfadedelay 1.5s;
}

@keyframes entryfadedelay {
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-moz-keyframes entryfadedelay { /* Firefox */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-webkit-keyframes entryfadedelay { /* Chrome safari  */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-o-keyframes entryfadedelay { /* Opera */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
    justify-items: center;
    margin: 4rem 5vw;
    padding: 0 0 5rem 0;
    list-style-type: none;
}
  

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 300px;
    border-radius: 35px;
    box-shadow: -15px -15px 35px #2D2E3B, 15px 15px 35px #0B0C0F;
}

.project-card > img {
    margin-top: 21px;
    border-radius: 35px;
    width: 376px;
    height: 200px;
    transition: /*height 0.1s cubic-bezier(0, 0.88, 0.45, 0.94),*/
                opacity 0.1s cubic-bezier(0, 0.88, 0.45, 0.94);
}
.project-card > h3 {
    color: var(--text-white);
    font-size: 26px;
    line-height: 34px;
    padding-top: 20px;
    transition: height 0.1s ease-in-out;
}

.project-card  > h4 {
    display: none;
    opacity: 0;
}
.project-card > div > a {
    display: none;
    opacity: 0;
}
.project-card > div  {
    display: none;
    opacity: 0;
}

.project-card:hover > img {
    width: 376px;
    height: 200px;
    opacity: 50%;
}

.project-card:hover > h3 {
    display: none;
}
.project-card:hover  > div > a {
    display: block;
    opacity: 1;
    padding: 15px 21px 0 21px;
}
.project-card:hover  > div > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: var(--text-black);
    text-decoration: none;
    background: #F7F8FF;
    width: 120px;
    height: 40px;
    border-radius: 35px;
}
.project-card:hover > div  {
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.project-card:hover > div > div {
    display: block;
    opacity: 1;

}
.project-card:hover > h4 {
    position: absolute;
    width: 151px;
    height: 45px;
    left: 135px;
    top: 56px;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;

    display: block;
    opacity: 1;
    color: var(--text-white);
}







.competency {
    display: flex;
    flex-direction: row;
    background: #1C1D25;
    box-shadow: -15px -15px 35px #2D2E3B,
                15px 15px 35px #0B0C0F;
    border-radius: 35px;
    margin: 5% 5% 0 5%;
}

.competency-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.3333%;
}

.competency-card > h2 {
    margin: 32px auto 32px auto;
    font-size: 2.6667rem;
}
.competency-card > ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 20%;   
}

.competency-card > ul > li {
    color: var(--text-grey-60);
    font-size: 1.5rem;
    list-style-type: none;
}

.divider {
    display: block;
    width: 3px;
    background-color: var(--text-grey-52);
}

@media screen and (max-width: 1500px) {
    .competency-card > h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1400px) {
    .competency-card > h2 {
        font-size: 2rem;
    }
    .divider {
        width: 2px;
    }
}

@media screen and (max-width: 1000px) {
    .competency {
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .competency-card {
        width: 80%;
    }
    .competency-card > h2 {
        margin: 2rem auto 0 auto;
    }
    .competency-card > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
    }
    .competency-card > ul >li {
        padding: 1rem;
    }

}

.contact-card {
    display: flex;
    flex-direction: row;
    justify-content: center;


    background: #1C1D25;
    width: 80vw;
    /*height: 20rem;*/
    border-radius: 35px;
    /*box-shadow: -15px -15px 35px #2D2E3B, 
                15px 15px 35px #0B0C0F;*/
    margin: 5rem auto 0 auto;
}


.contact-card > div > a {
    display: inline;
    margin: 20px 0px 20px 0px;
}

.contact-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 421px;
    height: 74px;
    background-color: var(--text-grey-20);
    color: var(--text-grey-70);
    font-size: 1.375rem;
    box-shadow: 10px 10px 21px #0B0C0F, -10px -10px 21px #2D2E3B;
    border-radius: 15px;
    /*margin: 20px 50px 50px 50px;*/
}

.contact-btn > div {
    padding-left: 20px;
}
.contact-btn > img {
    margin-right: 20px;
}



.divider-contact {
    display: block;
    width: 3px;
    height: 486px;
    background-color: var(--text-grey-52);
    margin: 20px;
}



.contact-form {
    color: var(--text-grey-70);
    font-size: 1.375rem;
}

.contact-form > form > p > label {
    display: flex;
    flex-direction: column;
}

.contact-form > form > p > label > input {
    width: 391px;
    height: 74px;

    background-color: var(--text-grey-20);
    box-shadow: inset 10px 10px 21px #0B0C0F,
    inset -10px -10px 21px #2D2E3B;
    border: 0px;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;

    color: var(--text-grey-70);
    font-size: 1.375rem;
    padding: 10px 15px;
}
.contact-form > form > p > label > textarea {
    width: 391px;
    height: 300px;

    background-color: var(--text-grey-20);
    box-shadow: inset 10px 10px 21px #0B0C0F,
    inset -10px -10px 21px #2D2E3B;
    border: 0px;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;

    color: var(--text-grey-70);
    font-size: 1.375rem;
    padding: 20px;
    resize: vertical;
}

.contact-form > form > p > button {
    width: 391px;
    height: 74px;

    color: var(--text-grey-70);
    font-size: 1.5rem;

    background-color: var(--text-grey-20);
    box-shadow: 10px 10px 21px #323339, -10px -10px 21px #3A3B45;
    border: 0px;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 1s;
}

.contact-form > form > p > button:hover {
    color: var(--text-white);
}

footer {
    height: 15vh;
    background-color: var(--bg-color-two);
}

