*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}

/*
html,body {
    overflow: auto;
}*/


:root {
    --bg-color-one: #F2F2F2;
    --bg-color-two: #1C1D25;
    --text-grey-52: #747474;
    --text-grey-70: #BABBBD;
    --text-white: #ffffff;
    --text-black: #000000;
}
  

h3 {
    color: var(--text-grey-52); 
}


.scroll-setter {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-setter section {
    scroll-snap-align: start;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}


.title1{
    font-size: 4.375rem;
}

.title2{
    font-size: 2.2rem;
}

.title3{
    font-size: 5.3333rem;
    color: var(--text-white);
    padding-top: 5vh;
}
.title4{
    font-size: 2rem;
    color: var(--text-grey-70);
}

.title4 > h2{
    padding: 1rem 2rem 0;
}

.language {
    position: absolute;
    top: 20px;
    right: 30px;
}

.scroll-btn {
    position: absolute;
    bottom: 20px;
    left: 5px;
    transform: rotate(90deg);
}

.btn {
    border: none;
    background-color: var(--bg-color-one);
    color: var(--text-grey-52);
}

.entry-screen {
    position: relative;
    background-color: var(--bg-color-one);
}

.content-screen {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background-color: var(--bg-color-two);
}

.art {
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 30vw;
}

.fade-one {
    animation: entryfade 1.5s;
    -moz-animation: entryfade 1.5s;
    -o-animation: entryfade 1.5s;
    -webkit-animation: entryfade 1.5s;
}

@keyframes entryfade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes entryfade { /* Firefox */
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes entryfade { /* Chrome safari  */
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes entryfade { /* Opera */
    from {pacity: 0;}
    to {opacity: 1;}
}

.fade-two {
    animation: entryfadedelay 1.5s;
    -moz-animation: entryfadedelay 1.5s;
    -o-animation: entryfadedelay 1.5s;
    -webkit-animation: entryfadedelay 1.5s;
}

@keyframes entryfadedelay {
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-moz-keyframes entryfadedelay { /* Firefox */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-webkit-keyframes entryfadedelay { /* Chrome safari  */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}
@-o-keyframes entryfadedelay { /* Opera */
    0% { opacity:0;}
    66% { opacity:0;}
    100% { opacity:1;}
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
    justify-items: center;
    margin: 4rem 5vw;
    padding: 0 0 5rem 0;
    list-style-type: none;
}
  

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 300px;
    border-radius: 35px;
    box-shadow: -15px -15px 35px #2D2E3B, 15px 15px 35px #0B0C0F;
}

.project-card > img {
    margin-top: 21px;
    border-radius: 35px;
    width: 376px;
    height: 200px;
    transition: height 0.1s cubic-bezier(0, 0.88, 0.45, 0.94),
                opacity 0.1s cubic-bezier(0, 0.88, 0.45, 0.94);
}
.project-card > h3 {
    color: var(--text-white);
    font-size: 26px;
    line-height: 34px;
    padding-top: 32px;
    transition: height 0.1s ease-in-out;
}

.project-card > div > h4 {
    display: none;
    opacity: 0;
}
.project-card > div > a {
    display: none;
    opacity: 0;
}
.project-card > div  {
    display: none;
    opacity: 0;
}

.project-card:hover > img {
    width: 378px;
    height: 270px;
    opacity: 50%;
}

.project-card:hover > h3 {
    display: none;
}
.project-card:hover  > div > a {
    display: block;
    opacity: 1;
}

.project-card:hover > div  {
    display: block;
    opacity: 1;
}

.project-card:hover > div > div {
    display: block;
    opacity: 1;
    color: var(--text-black);
    background: #F7F8FF;
    width: 120px;
    height: 40px;
    border-radius: 35px;
}
.project-card:hover > h4 {
    display: block;
    opacity: 1;
    color: var(--text-white);
}